.message {
	font-size: 25px;
}

.selected {
	border: thick solid black;
}


#board, .pieceBox, .row {
	overflow: hidden;
}


#board, .pieceBox, .printOut {
	float: left;
}

#board {
	width: 310px;
	height: 310px;
}

.square {
	border: thin solid black;
	float: left;
	width: 100px;
	height: 100px;
}

.menuPiece {
	width: 100px;
	height: 100px;
}

.pawn {
	background-image: url('images/pawn.png');
}

.knight {
	background-image: url('images/knight.png');
}

.rook {
	background-image: url('images/rook.png');
}