body {
  background: #5d6470;/*I like neutral colors a lot they go well with everything and white background is boring*/
}
p {
  color: white;/*Easy to see!*/
}
#p1 {
  font-size: 20px;/*average size*/
}
.purple {/* violet is a pretty color, and i thought was a fun way to switch up font!*/
  color: White;
  font-style: italic;
  font-family: serif;
}
.green{
  color: #700425;
}
