body {
  background: grey;
}
p {
  background: darkslategrey;
  color: white;
}
#p1 {
  font-size: 20px;
  margin-right: 40px;
}
.purple {
  color: violet;
  font-style: italic;
  font-family: fantasy;
}
